.key {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0.25rem;
    border: 0.0625rem solid var(--cc-white);
    width: 3rem;
    height: 3rem;
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--cc-white);
    background-color: var(--secondary);
    text-transform: uppercase;

    &.success {
        background-color: var(--primary);
        border-color: var(--primary);
        color: var(--secondary);
    }
}