.win-actions {
    display: flex;
    gap: 1rem;

    .quit-button,
    .play-button {
        font-size: 1rem !important;
        font-weight: 600;
    }

    .quit-button {
        background-color: var(--secondary);
        color: var(--cc-white);
        letter-spacing: 0.055rem;
        padding: 1rem 2.5rem;

        &:hover {
            scale: 0.95;
        }
    }

    .play-button {
        background-color: var(--primary);
        color: var(--secondary);
        letter-spacing: 0.055rem;
        padding: 1rem 2.5rem;

        &:hover {
            scale: 0.95;
        }
    }
}