.select {
    width: 100%;
    background: var(--secondary);
    border: none;
    font-weight: 600;
    font-size: 0.875rem;
    color: var(--terciary);
    padding: 0.45rem 0.95rem;
    outline: none;
}