.game-page {
    .game-container {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 34.5rem;
        background: var(--background);
        border: 0.0625rem solid var(--primary);
        padding: 2.5rem 0;
        gap: 1.5rem;

        .title {
            font-size: 2.5rem;
            letter-spacing: 0.07em;
        }

        .username-container {
            display: flex;
            flex-direction: column;
            width: 90%;

            span {
                text-align: end;
                font-size: 0.875rem;
                margin-top: 0.25rem;
                color: var(--dark-highlight);
            }

        }
    }
}