:root {
    --primary: rgb(255, 192, 70);
    --secondary: rgb(22, 25, 38);
    --terciary: rgb(81, 90, 130);

    --soft-highlight: rgb(213, 220, 255);
    --dark-highlight: rgb(45, 48, 70);
    --background: rgb(17, 19, 29);

    --text-primary: rgb(227, 227, 230);

    --cc-black: rgb(0, 0, 0);
    --cc-white: rgb(255, 255, 255);
}