:root {
    --primary: rgb(255, 192, 70);
    --secondary: rgb(22, 25, 38);
    --terciary: rgb(81, 90, 130);

    --soft-highlight: rgb(213, 220, 255);
    --dark-highlight: rgb(45, 48, 70);
    --background: rgb(17, 19, 29);

    --text-primary: rgb(227, 227, 230);

    --tick-speed: 1500ms;
    --tick-speed-0: 1250ms;
    --tick-speed-25: 1000ms;
    --tick-speed-50: 750ms;
    --tick-speed-75: 500ms;
    --ticking: rgb(255, 192, 70);
    --ticking-0: rgb(255, 192, 70);
    --ticking-25: rgb(255, 115, 0);
    --ticking-50: rgb(250, 58, 0);
    --ticking-75: rgb(255, 0, 0);

    --cc-black: rgb(0, 0, 0);
    --cc-white: rgb(255, 255, 255);
}