.home-page {
    .background {
        position: absolute;
        width: 110vw;
        height: 100vh;
        background-repeat: no-repeat;
        background-position: top;
        background-size: cover;
        background-image: url('https://cidadealtarp.com/images/hero-bg.png');
        z-index: -1;
        animation: slideInLeft 3000ms ease-in-out;
    }

    .main {
        display: flex;
        flex-direction: column;
        margin-top: 8rem;
        gap: 3rem;

        .title {
            font-size: 5.5rem;
            font-weight: 800;
            text-align: center;
            letter-spacing: -0.25rem;
            text-shadow: 0 0 4rem var(--background);
            animation: fadeInUpwards 2000ms ease-in-out;

            span {
                position: relative;
            }

            .o::before,
            .crown::before,
            .arrow-right::before {
                content: '';
                position: absolute;
            }

            .o::before {
                background: url('https://cidadealtarp.com/images/symbols/o.svg') center center / contain no-repeat;
                width: 83px;
                height: 83px;
                top: 0px;
                left: 0px;
            }

            .crown::before {
                background: url('https://cidadealtarp.com/images/symbols/crown.svg') center center / contain no-repeat;
                width: 40px;
                height: 45px;
                top: -30px;
                right: -20px;
            }

            .arrow-right::before {
                background: url('https://cidadealtarp.com/images/symbols/arrow-right.svg') center center / contain no-repeat;
                width: 165px;
                height: 40px;
                top: 50%;
                transform: translateY(-50%);
                right: -40px;
            }
        }

        .prove-button {
            width: 25rem;
            margin: 0 auto;
            background: var(--primary);
            letter-spacing: 0.5rem;
            padding: 0.875rem 0;
            font-weight: 800;
            color: var(--cc-black);
            font-size: 0.875rem;
            animation: scaleUpSideways 2000ms ease-in-out;

            &:hover {
                scale: 0.95;
            }
        }
    }

    .cda-logo {
        position: fixed;
        width: 4rem;
        height: 4rem;
        bottom: 1rem;
        left: 1rem;
        transition: all 200ms;

        &:hover {
            scale: 0.95;

            path {
                fill: var(--primary);
            }
        }
    }
}

.ranking-button {
    position: fixed;
    right: 1rem;
    bottom: 1rem;

    svg {
        width: 4rem;
        height: 4rem;
    }
}