.ranking-container {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    height: 70vh;
    overflow-y: auto;
    overflow-x: hidden;
    padding: 0 1rem 0 2rem;

    &::-webkit-scrollbar {
        width: 0.5rem;
    }

    &::-webkit-scrollbar-thumb {
        background-color: var(--primary);
        border-radius: 1rem;
    }

    &::-webkit-scrollbar-track {
        background-color: var(--secondary);
        border-radius: 1rem;
    }
}